service:
  name: serverless-typescript
# app and org for use with dashboard.serverless.com
app: serverless-typescript
org: josephsawaya

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs12.x
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
        - ses:*
      Resource: '*'


functions:
  get:
    handler: handler.get
    role: UsersTableScanRole
    events:
      - http:
          method: get
          path: users
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false
  post:
    handler: handler.post
    role: UsersTablePostItemRole
    events:
      - http:
          method: post
          path: users
  getID:
    handler: handler.getID
    role: UsersTableGetItemRole
    events:
      - http:
          method: get
          path: users/{id}
          request:
            parameters:
              paths:
                id: true
  updateID:
    handler: handler.updateID
    role: UsersTableUpdateItemRole
    events:
      - http:
          method: put
          path: users/{id}
          request:
            parameters:
              paths:
                id: true
  deleteID:
    handler: handler.deleteID
    role: UsersTableDeleteItem
    events:
      - http:
          method: delete
          path: users/{id}
          request:
            parameters:
              paths:
                id: true
  sendEmail: 
    handler: handler.sendEmail
    events:
      - http:
          method: post
          path: sendEmail
          cors: true 

  createEmail: 
    handler: handler.createEmail
    events:
      - http:
          method: post
          path: createEmail
          cors: true  

  sendTemplatedEmail:
      handler: handler.sendTemplatedEmail
      events:
        - http:
            method: post
            path: sendTemplatedEmail
            cors: true


resources: 
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: UsersTable
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
          - AttributeName: password
            AttribubteType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    
    UsersTableScan:
      Type: AWS::IAM::Policy
      Properties:
        PolicyName: UsersTable-Scan
      Roles:
        # All functions using this policy need to have their role listed here
       - !Ref UsersTableScanRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:Scan
            Resource: !GetAtt UsersTable.Arn

    UsersTableScanRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: UsersTableScanRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole

    UsersTableGetItem:
      Type: AWS::IAM::Policy
      Properties:
        PolicyName: UsersTable-GetItem
      Roles:
        # All functions using this policy need to have their role listed here
       - !Ref UsersTableGetItemRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
            Resource: !GetAtt UsersTable.Arn

    UsersTableGetItemRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: UsersTableGetItemRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole


    UsersTablePostItem:
      Type: AWS::IAM::Policy
      Properties:
        PolicyName: UsersTable-PostItem
      Roles:
        # All functions using this policy need to have their role listed here
       - !Ref UsersTablePostItemRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:PutItem
            Resource: !GetAtt UsersTable.Arn

    UsersTablePostItemRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: UsersTablePostItemRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole


    UsersTableUpdateItem:
      Type: AWS::IAM::Policy
      Properties:
        PolicyName: UsersTable-UpdateItem
      Roles:
        # All functions using this policy need to have their role listed here
       - !Ref UsersTableUpdateItemRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:UpdateItem
            Resource: !GetAtt UsersTable.Arn

    UsersTableUpdateItemRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: UsersTableUpdateItemRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole


    UsersTableDeleteItem:
      Type: AWS::IAM::Policy
      Properties:
        PolicyName: UsersTable-DeleteItem
      Roles:
        # All functions using this policy need to have their role listed here
       - !Ref UsersTableDeleteItemRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:DeleteItem
            Resource: !GetAtt UsersTable.Arn

    UsersTableDeleteItemRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: UsersTableDeleteItemRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
